*{
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  width: 1120px;
  margin-bottom: 40px;
}
h2 {
  font-size: 32px;
  font-style: bold;
  margin-bottom: 8px;
}
li {
  font-size: 28px;
}
h3 {
  font-size: 28px;
  font-style: bold;
  width: 1183.51px;
  margin-top: 20px;
  margin-bottom: 4px;
  
}
ul li {
  font-size: 16px;
  color: #0C51A7;
  font-weight: bold;
  
}
.subtittle {
  margin-bottom: 48px;
}
h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: #e1624f;
  line-height: 22px;
  font-weight: bold;
}

#inicio p {

line-height: 22px; 
font-size: 16px;
font-style: italic;
color:#333333;
text-align: center;
margin-top: 24px;
margin-bottom: 40px;

}

h6 {
  font-size: 16px;
  font-weight: bold;
  width: 1120px;
  
}

img {
  border-radius: 28px;
  width: 100%;
}
  
.umdivider {
  width: 100%;
  height: 1px;
  margin:  36px 0;
  background-color: #d9d9d9;
  margin-bottom: 64px;
}

ol li{
  margin-left: 32px;
}

#page {
  box-sizing: border-box;
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  padding: 32px
  
     }



footer {
margin-top: 65px; 
text-align: center;
}
#terceiroul {
  
}
#terceiroul li::marker {
  color: #333333;
}
#terceiroul .primeiroelemento {
  color: #591B98;
}
#terceiroul .segundoelemento {
  color: #E5245E;
}
#terceiroul .terceiroelemento {
  color: #E95E10;
}

#seudestino .primeirop {
  margin-bottom: 64px;
}
.doisdivider {
  width: 100%;
  height: 1px;
  margin:  36px 0;
  background-color: #d9d9d9;
  margin-bottom: 40px;
  }
  

.ultimop {
text-align: center;  
  
}
.vector {
  width: 16px;
  height: 16px;
  margin: 0 4px;
}
.rodape {
display: flex;
justify-content: center;
align-items: center;
}
